.viewRide_card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.7s ease;
}

.domain-form .form-group {
  border: 1px solid #6aa0fd;
  padding: 10px;
  border-radius: 10px;
}

.domain-form .form-group input {
  height: 45px !important;
  border: transparent;
}

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #3a4348 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.px-4 {
  padding-left: 1.5rem !important;
}

.domain-form .form-group .search-domain {
  background: #6aa0fd;
  border: 2px solid #6aa0fd;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 10px;
}

.domain-price span {
  color: #3a4348;
  margin: 0 10px;
}

.domain-price span small {
  color: #24bdc9;
}

@media only screen and (max-width: 900px) {
    .domain-form .form-group .search-domain {
        width: 100%;
    }
}